/* cupid green (inspired by okcupid.com)
*******************************************************************************/
button.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 120px;
}

button.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
}
