pkg/
Gemfile.lock
.rspec
spec/tmp
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/config/*.yml
spec/dummy/config/*.conf
spec/dummy/config/logrotate-config
spec/dummy/config/nginx-config
spec/dummy/db/schema.rb
spec/dummy/db/sphinx/
spec/dummy/public/cache/
spec/dummy/public/assets/
spec/dummy/public/ckeditor_assets/
spec/dummy/public/uploads/
spec/dummy/vendor/bundle/
spec/dummy/app/helpers/manage
spec/dummy/config/database.yml
spec/dummy/log/development.log
