<div class="bot-bg">
	<div class="inputs-bl">
	  <%= form.label "title" %>
    <%= form.text_field "title", :class=>"text name" %>
    
    <%= form.label "content" %>
    <%= form.cktext_area "content", options_for_ckeditor %>
  </div>
</div>
