<div class="asset ill" id="picture_56">
  <a href="/manage/assets/56" class="del" data-confirm="Вы действительно хотите удалить запись?" data-method="delete" data-remote="true" rel="nofollow"><img alt="Удалить" src="/images/manage/empty.gif?1304599738" title="Удалить"></a>

  <a href="http://udp-ua.com/assets/pictures/56/content_h043zo5u.jpg" class="fancybox"><img alt="Thumb_h043zo5u" src="http://udp-ua.com/assets/pictures/56/thumb_h043zo5u.jpg?1305031309" title="H043zo5u.jpg"></a>
</div>
